{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
  
{% endcomment %}

<!-- <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" /> -->


<!-- Custom Head Start --> 
<link rel="icon" href="https://raw.githubusercontent.com/hdlabconicet/hdlabconicet.github.io/refs/heads/master/_includes/logo-hdcaicyt.svg" type="image/x-icon">

<!-- Botón personalizado 
<style>
  .custom-button {
    background-color: #3e46e2; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Diseño en línea */
    font-size: 14px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Márgenes */
    cursor: pointer; /* Cursor de mano */
    border-radius: 12px; /* Bordes redondeados */
  }
  .custom-button:hover {
    background-color: #3e46e2; /* Color de fondo al pasar el ratón */
  }
</style>
<a href="https://hdlab.space/" class="custom-button" target="_blank">HDLAB</a>
 -->
