---
---

@font-face {
  font-family: 'Roboto';
  src: url({{ "/assets/Roboto/Roboto-Regular.ttf" | relative_url }});
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url({{ "/assets/Roboto/Roboto-Regular.ttf" | relative_url }});
  font-display: swap;
}

$primary_color: {{ site.color | default: "#a505f0" }};

.share-button {
   background-color: $primary_color;
   border-color: $primary_color;
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
}

h1 {
   text-decoration-color: $primary_color;
   text-decoration-line: underline;
}
/* Ocultar el título del sitio en la página de inicio */
body.home h1.site-title {
  display: none;
}

.tag {
  font-size: 0.875rem;
  color: inherit; // usa el mismo color que el texto normal
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #fef08a; // highlight visible
    color: inherit;
    text-decoration: underline;
  }

  @media (prefers-color-scheme: dark) {
    &:hover {
      background-color: rgba(202, 138, 4, 0.3); // menos agresivo en modo oscuro
    }
  }
}

